.BillingWrapper {
  margin-top: 52px;
  padding-top: 13px;
}
.BillingWrapper .container {
  flex-direction: row;
}
.BillingWrapper .singleDecision:hover {
  background-color: #11b611b0;
}
.BillingWrapper .checkoutSub:hover {
  background-color: green;
}
