/* The .Header class adds tyling to the Header div containing the navbar
 * so that it doesn't slide to the left when scrolling right horizontally
 * when I ma
 */
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  z-index: 500;
}
