.settingsWrapper {
  height: 1600px;
  margin-top: 52px;
  padding-top: 15px;
}
.board__container {
  min-width: 3000px;
  margin-top: 52px;
  padding-top: 15px;
}
.board__container .board {
  display: flex;
  flex-direction: row;
}
.board__container .list {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
.addlist__btn {
  position: fixed;
  top: 90%;
  left: 75%;
  bottom: 15%;
  width: 20%;
  margin-bottom: 4.7%;
}
@media only screen and (max-width: 479px) {
  .addlist__btn {
    width: 50%;
    left: 70%;
  }
}
/* The .Header class adds tyling to the Header div containing the navbar
 * so that it doesn't slide to the left when scrolling right horizontally
 * when I ma
 */
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  border-radius: 0px;
  margin-bottom: -2%;
  max-height: 50px;
}
.Header .js-navbar {
  border-radius: 0;
  background: #15100E;
}
.list__btn {
  min-width: 327px;
}
.top-section-job-modal {
  display: flex;
  justify-content: space-between;
}
.bottom-section-job-modal {
  display: flex;
}
.bottom-section-job-modal .bottom-left-section {
  flex-grow: 1;
}
.bottom-section-job-modal .bottom-right-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.addListButton {
  width: 100%;
  margin-bottom: 10%;
}
.MeetupsWrapper {
  margin: 52px;
  padding-top: 13px;
}
.MeetupsWrapper .col {
  display: inline-flex;
  flex-wrap: wrap;
  padding: .5%;
  width: 20%;
}
.MeetupsWrapper .meetups--btn {
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px;
}
.MeetupsWrapper .meetups--btn .meetups--btn__plus {
  margin: -3px;
}
.MeetupsWrapper .form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.MeetupsWrapper .form-row .form-col {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.MeetupsWrapper .form-row .form-col {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.BillingWrapper {
  margin-top: 52px;
  padding-top: 13px;
}
.BillingWrapper .container {
  flex-direction: row;
}
.BillingWrapper .singleDecision:hover {
  background-color: #11b611b0;
}
.BillingWrapper .checkoutSub:hover {
  background-color: green;
}
.ContributionsWrapper {
  margin: 52px;
  padding-top: 13px;
}
.ContributionsWrapper .col {
  display: inline-flex;
  flex-wrap: wrap;
  padding: .5%;
  width: 20%;
}
.ContributionsWrapper .contributions--btn {
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px;
}
.ContributionsWrapper .contributions--btn .contributions--btn__plus {
  margin: -3px;
}
.ContributionsWrapper .form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ContributionsWrapper .form-row .form-col {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.ContributionsWrapper .form-row .form-col {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.SignInWrapper {
  margin-top: 52px;
  padding-top: 13px;
}
.SignUpWrapper {
  margin-top: 52px;
  padding-top: 13px;
}
.react-date-picker__button {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body {
  min-width: 350px;
  max-width: 2000px;
}
@media only screen and (max-width: 479px) {
  body {
    min-width: 350px;
    width: 100%;
  }
}
.parent {
  min-width: 350px;
  max-width: 2000px;
}
@media only screen and (max-width: 479px) {
  .parent {
    min-width: 350px;
  }
}
.gradient {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 2%;
  margin: 0px;
  min-width: 350px;
  max-width: 2000px;
  width: 100%;
  max-height: 700px;
  min-height: 400px;
  height: 100%;
  background: linear-gradient(45deg, #48ACF0 20%, #594236);
  z-index: 100;
}
.paragraphs {
  position: relative;
  z-index: 5;
  padding: auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titles {
  position: relative;
  z-index: 4;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LoginCTA1 {
  text-align: center;
  flex-flow: row;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: #48ACF0;
  border: none;
  align-content: center;
  height: 10%;
  width: 33.3%;
  border-radius: 50px;
  padding-bottom: 2%;
  margin-bottom: 3%;
  margin-left: 33.3%;
  margin-right: 33.3%;
}
.LoginCTA1 :hover {
  height: 11%;
  width: 33.6%;
}
@media only screen and (max-width: 479px) {
  .LoginCTA1 {
    position: relative;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 75px;
    width: 50%;
  }
}
.LoginCTA2 {
  text-align: center;
  flex-flow: row;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: #48ACF0;
  border: none;
  align-content: center;
  width: 33.3%;
  margin-bottom: 5%;
  margin-left: 33.3%;
  margin-right: 33.3%;
}
.LoginCTA2 :hover {
  height: 11%;
  width: 33.6%;
}
@keyframes tick-tock {
  to {
    transform: rotate(360deg);
  }
}
.pngBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5.7%;
  position: relative;
  padding: 10%;
  z-index: 10;
}
.pngBox .png1 {
  position: relative;
  animation: tick-tock 5s;
  animation-direction: alternate;
  width: 100%;
  height: 85%;
  margin-right: 3.2%;
  margin-top: 4.5%;
}
@media only screen and (max-width: 479px) {
  .pngBox {
    margin-left: 5%;
    margin-right: 4%;
  }
  .pngBox .png1 {
    margin-top: 23%;
    width: 95%;
    height: 90%;
  }
}
.titles {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px #000;
  padding-top: 5%;
}
.paragraphs {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 12%;
  padding-bottom: 10%;
  color: white;
  text-shadow: 1px 1px black;
}
.png2 {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 2%;
  margin: 0px;
  min-width: '300px';
  max-width: '2000px';
  width: 100%;
  max-height: 700px;
  min-height: 400px;
  height: 100%;
  background: linear-gradient(45deg, #48ACF0 20%, #594236);
  z-index: 1;
}
.TeamWrapper {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.AttentionDiv1 {
  background: linear-gradient(45deg, #594236 0.1%, #15100E);
  height: 100%;
}
.teamh3 {
  margin-bottom: 5%;
  color: #48ACF0;
  text-shadow: 2.5px 2.5px #000;
  font-weight: thin;
  font-size: 35px;
}
