.MeetupsWrapper {
  margin: 52px;
  padding-top: 13px;
}
.MeetupsWrapper .col {
  display: inline-flex;
  flex-wrap: wrap;
  padding: .5%;
  width: 20%;
}
.MeetupsWrapper Button {
  border-radius: 50%;
  font-size: 15;
}
