.MeetupsWrapper {
  margin: 52px;
  padding-top: 13px;
}
.MeetupsWrapper .col {
  display: inline-flex;
  flex-wrap: wrap;
  padding: .5%;
  width: 20%;
}
.MeetupsWrapper Button {
  border-radius: 15px;
  font-size: 15;
}
.MeetupsWrapper .form-row {
  justify-content: center;
}
.MeetupsWrapper .form-row .col {
  margin-left: 10%;
}
.MeetupsWrapper .plusDiv {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 2%;
}
