.navbar {
  border-radius: 0px;
}
.form-group {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-default {
  margin: 10px;
}
.settingsWrapper {
  height: 1600px;
}
.board__container {
  min-width: 3000px;
  margin-top: 52px;
  padding-top: 15px;
}
.board__container .board {
  display: flex;
  flex-direction: row;
}
.board__container .list {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
.addlist__btn {
  position: fixed;
  top: 90%;
  left: 75%;
  bottom: 15%;
}
/* The .Header class adds tyling to the Header div containing the navbar
 * so that it doesn't slide to the left when scrolling right horizontally
 * when I ma
 */
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  z-index: 500;
}
.list__btn {
  min-width: 327px;
}
