.navbar {
  border-radius: 0px;
}
.form-group {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-default {
  margin: 10px;
}
.settingsWrapper {
  height: 1600px;
}
.board__container {
  min-width: 3000px;
  margin: 10px;
}
.board__container .board {
  display: flex;
  flex-direction: row;
}
