@import './mixins.less';
  .outer-container {
    margin-left: -18%;
    .jobs-well {
      background: linear-gradient( 45deg, #48ACF0 20%, #594236);
    }
  }
  .board__container {
    margin-top: 52px;
    padding-top: 15px;
    display: flex;
    .board__header {
      color: @columbiaBlue;
      position: fixed;
      bottom: 83%;
      left: 3%;
      z-index: 5000;
    }
    
    .board__row {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      flex-grow: space-around;
      .board {
        min-width: 10.2%;
        margin-right: -.25%;
      }
      }
      
      .list {
        display: flex;
        flex-direction: column;
        max-height: 90%;
        min-height: 600px;
        .job-title {
          background:linear-gradient( 45deg, SteelBlue 20%, LightSteelBlue);
          color: white;
        }
        .job-content {
          background: linear-gradient( 45deg, #e0e0e0 20%, white);
        }
      }
      
      
    }
    
    .addlist__btn--container {
      position: fixed;
      top: 12%;
      left: 90%;
      @media @smartphones {
        width: 50%;
        left: 70%;
      }
      
    }
  