@import "index.less";
@import "mixins.less";

@pictonBlue: #48ACF0;
@horses: #594236;
@licorice: #15100E;
@cadetGrey: #93A3BC;
@columbiaBlue: #CCDDE2;

.parent {
  min-width: @phoneWidth;
  max-width: @siteWidth;
}

.gradient {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 2%;
  margin: 0px;
  min-width: @phoneWidth;
  max-width: @siteWidth;
  width: 100%;
  max-height: 700px;
  min-height: 400px;
  height: 100%;
  background: linear-gradient( 45deg, #48ACF0 20%, #594236);

  @media @smartphones {

	}
}

.titles {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paragraphs {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pngBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #CCDDE2;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  padding: 5%;
  @media @smartphones {
    margin-left: 5%;
    margin-right: 5%;
    .png1 {
      width:75%;
    }

	}

}

.titles {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.paragraphs {
  display: flex;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
  font-size: @font-size--large;
}
