.MeetupsWrapper {
  margin: 52px;
  padding-top: 13px;

  .col {
    display: inline-flex;
    flex-wrap: wrap;
    padding: .5%;
    width: 20%;
  }
  Button{
    border-radius: 15px;
    font-size: 15;
  }
  .form-row {
    .col {
      margin-left: 10%;
    }
    justify-content: center;
    // background: red;
  }
  .plusDiv {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-top: 2%;

  }

}